@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
.anim-scale {
	display: inline-block;
	animation: scaleA 30s infinite normal;
}
div.container {
	animation: fadeOut 30s infinite normal;
}
@keyframes scaleA {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	45% {
		opacity: 100;
	}
	50% {
		opacity: 100;
	}
	85% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

body {
	background-color: #000;
	color: gold;
	font-family: "Ubuntu";
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 2em;
	line-height: 2;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-align: center;
}

span {
	font-weight: bold;
	background-image: linear-gradient(
		135deg,
		#fff89e 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#fff89e 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#fff89e 100%
	);
	color: transparent;
	-webkit-background-clip: text;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 75%;
}